html,
body {
    text-align: center;
    /*opacity: 0.9;*/
    margin: 0;
    font-family: 'Belgrano', 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: rgb(50, 47, 43);
    width: 100%;
}

.header-container,
.main-container,
#opening-container,
.Dating-Container {
    /*height: auto;*/
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

;

.button {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 15px;
    transition: font-size 0.7s ease;
    cursor: pointer;
}

.button:hover {
    font-size: 110%;
}

.button h1 {
    color: rgba(245, 245, 245, 1);
}

.button h1 i {
    color: palevioletred;
}

/*.count_one,
.count_two,
.count_three,
.count_four,
.count_five,
.count_six{
    display: none;
    background-color: bisque;
    width:fit-content;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}*/

.Dating-Container {
    margin: 0 auto;
    width: 100%;
    /*width: 1300px;*/
    height: 700px;
    background-image: url("38f35da0e455e49acf5c0f111def6fe3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
}

.Dating-Title {
    width: 100%;
    background-color: rgb(70, 60, 70);
}

.Dating-Title h1 {
    text-align: center;
    font-size: 24px;
    display: block;
    margin: 0;
}

.header-container {
    display: block;
    width: 100%;
    border: solid black 1px;
    /*height: 60px;*/
    position: fixed;
    background-color: rgb(38, 33, 32);
    z-index: 1;
    color: white;
}

#hide_one {
    display: none;
    background-color: bisque;
    color: black;
    padding: 5px;
    border-radius: 15px;
}

#hide_two {
    display: none;
    background-color: bisque;
    padding: 5px;
    border-radius: 15px;
}

nav .nav a li {
    display: inline-flex;
    padding: 5px;
    float: right;
    transition: font-size 0.5s ease, color 0.5s ease;
}

#Learn {
    text-align: center;
    background-color: rgba(69, 56, 56, 0.9);
    padding: 5px 0;
    color: rgb(255, 235, 220);
    /*margin: 0;*/
}

.logo {
    height: 60px;
    float: left;
    padding: 10px;
    display: flex;
}

.logo h1 {
    font-size: 2rem;
    margin: 0 auto;
    display: inline;
}

.logo svg {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.main-container {
    width: 100%;
    height: 600px;
    background-image: url("Chess_Background_Final.gif");
    /*background-image: url("Chess_Background#2.jpg");*/
    /*background-image: url("Chess_Background#3.jpg");*/
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: rgb(50, 47, 43);*/
    background-position: center;
    align-content: center;
    justify-content: center;
    /*position: relative;
    top: 20px;*/
    margin: 0 auto;
}

.main-text {
    color: white;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 0;
}

nav .nav a li:hover {
    font-size: 110%;
    color: rgb(213, 173, 102);
}

#opening-container {
    display: flex;
    width: 1300px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: rgb(50, 47, 43);
}

.Opening {
    margin: 0 5%;
}

.Opening h2 {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 5px rgb(34, 34, 34);
}

.Opening img {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.Opening img:hover {
    transform: scale(1.1, 1.1);
    opacity: 75%;
}

#pawn,
#bishop,
#rook,
#knight,
#king,
#queen {
    margin: 0 5%;
    display: inline-block;
}

/*.king{margin-right: 5%;}
.queen{margin-left: 5%;}*/

#piece-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /*grid-template: repeat(2, 1fr)/repeat(10, 1fr);*/
    margin: 0 auto;
    background-color: rgb(50, 47, 43);
    padding-top: 35px;
    justify-content: space-evenly;
}



.piece img {
    width: 300px;
    height: 350px;
    transition: transform 0.5s ease, filter 0.7s ease;
    border-radius: 10px;
    display: block;
}

.piece img:hover {
    transform: scale(1.1, 1.1);
    filter: brightness(0.6);
}

/*.piece-forecolor{width: 100%;
height: auto;
background-color: rgb(50, 47, 43);}*/

/*.square{height: 30px;
width: 30px;
background-color: aquamarine;
display: inline-block;}*/

.text {
    width: 100%;
    background-color: rgb(36, 34, 32);
    display: block;
}

.text,
.Dating-Title {
    color: seashell;
}

#piece-container h2 {
    background-color: rgb(255, 235, 220);
    border-radius: 20px;
    box-shadow: 0 5px rgb(34, 34, 34);
}

.meet {
    background-color: rgba(69, 56, 56, 0.9);
    color: rgb(255, 235, 220);
    margin: 0;
    padding: 5px 0;
    text-shadow: 0 5px rgb(34, 34, 34);
}

#view_one {
    display: none;
    color: black;
    background-color: bisque;
    padding: 5px;
    border-radius: 15px;
}

#view_two {
    background-color: bisque;
    display: none;
    border-radius: 15px;
    color: black;
    background-color: bisque;
    padding: 5px;
}

/*#mobile_openings{display: block;
}*/

@media only screen and (max-width: 930px) {

    .pawn,
    #bishop,
    #rook,
    #knight,
    #king,
    #queen {
        display: block;
    }

    #hide_one {
        display: none;
    }

    #piece-container {
        display: flex;
    }

    .main-container {
        display: none;
    }

    .opening {
        display: block;
    }

    #opening-container {
        display: flex;
    }

    .nav {
        display: none;
    }

    .logo .icon {
        display: none;
    }

    #view_one {
        display: none;
    }

    #view_two {
        display: none;
    }

    #hide_one {
        display: none;
    }

    #hide_two {
        display: none;
    }

    .header-container {
        text-align: center;
        float: none;
        display: inline-block;
        position: static;
        margin: 0;
    }

    .meet {
        margin-top: 0px;
    }

    /*.Dating-Container{background-image: url("pink_checkered_background.jpg");
height: 150px;}*/

    .button {
        margin: 0px;
        /*width:100%;*/
        padding: 1.5%;
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 750px) {
    #opening-container {
        display: none;
    }

    .Opening {
        margin: 0 5%;
        display: inline-block;
    }

    .Dating-Title {
        display: none;
    }

    #piece-container {
        display: none;
    }

    #view_one {
        display: inline-block;
    }

    #view_two {
        display: inline-block;
    }

    #hide_one {
        display: none;
    }

    #hide_two {
        display: none;
    }

    #pawn,
    #bishop,
    #rook,
    #knight,
    #king,
    #queen {
        display: none;
    }
}