.main-container{width: 100%;
    height: 700px;
   background-image: url("Chess_Background_Final.gif");
    /*background-image: url("Chess_Background#2.jpg");*/
       /*background-image: url("Chess_Background#3.jpg");*/
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(50, 47, 43);
    background-position: center;
    align-content: center;
    justify-content: center;
    /*position: relative;
    top: 20px;*/
margin: 0 auto;
}

.main-text{color: white;
    display: block;
background-color: rgba(0, 0, 0, 0.7);
padding: 5px 0;}

.Opening img{width: 300px;
height: 300px;
border-radius: 20px;}

.Opening img:hover{transform: scale(1.1,1.1);
    opacity: 75%;}

#Learn{text-align: center;
background-color: rgba(69, 56, 56, 0.9);
padding: 5px 0;
color: rgb(255, 235, 220);
margin: 0;
}

.Opening h2{text-align: center;
background-color: antiquewhite;
border-radius: 10px;
box-shadow: 0 5px rgb(34, 34, 34);} 

.fore-color{width: 100%;
    /*background-color: hsl(25, 24%, 86%);*/
    background-color: rgb(50, 47, 43);
    background-image: url('https://www.bing.com/images/search?view=detailV2&ccid=lpaIr0t4&id=A9292FBF3F50423BDDBAADAF50C4A8CEA4D94467&thid=OIP.lpaIr0t4-D9vt1t1nRvEGQHaE_&mediaurl=https%3a%2f%2fwallpaperaccess.com%2ffull%2f666656.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.969688af4b78f83f6fb75b759d1bc419%3frik%3dZ0TZpM6oxFCvrQ%26pid%3dImgRaw%26r%3d0&exph=1218&expw=1807&q=white+wood+background&simid=608035797953048480&FORM=IRPRST&ck=64D54648EA55C125A0B80A5A6FA743A0&selectedIndex=4&itb=0&qft=+filterui%3aimagesize-large');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 35px 0;
margin: 0;}

.opening-container{display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
width: 1300px;
height: 700px;
margin: 0 auto;
padding-bottom: 20px;
}

body{text-align: center;
    /*opacity: 0.9;*/
margin: 0;
font-family: 'Belgrano','Times New Roman', Times, serif;}

.header-container{display: block;
border: solid rgba(0, 0, 0, 0) 1px;
width: 100%;
height: 60px;
position:fixed;
background-color: rgb(38, 33, 32);
z-index: 1;
color: white;}

nav .nav a li{display: table;
padding: 5px;
float: right;
transition: font-size 0.5s ease, color 0.5s ease;
}

nav .nav a li {display: table-cell;}

nav .nav a li:hover{font-size: 110%;
color: rgb(213, 173, 102);
}

a{text-decoration: none;
color: white;}

.logo{float: left;
padding: 10px;
font-size: 32px;}

.Opening img{transition: all 0.5s ease;
cursor: pointer;}


.Dating-Container{
margin: 0 auto;
width: 100%;
/*width: 1300px;*/
height: 700px;
border:solid 1px rgba(255,0,0,0);
background-image: url("38f35da0e455e49acf5c0f111def6fe3.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
align-content: center;}

.button {display: inline-block;
    background-color: rgba(0, 0, 0,0.7);
    padding: 10px;
border-radius: 15px;
transition: font-size 0.7s ease;
cursor: pointer;
}

.button:hover{font-size: 110%;}

.button h1{color: rgba(245, 245, 245,1);
}

.button h1 i{color: palevioletred;}

.Dating-Title {width: 100%;
background-color: rgb(70, 60, 70);

}
.Dating-Title h1{text-align: center;
font-size: 24px;
display: block;
margin: 0;}

.text {
width: 100%;
background-color: rgb(36, 34, 32);
display: block;
border: solid 1px rgba(0,0,0,0);}
.text,.Dating-Title{color: seashell;}

.piece img{width: 300px;
height: 350px;
transition: transform 0.5s ease, filter 0.7s ease;
border-radius: 10px;

}

.piece img:hover{transform: scale(1.1,1.1);
    filter: brightness(0.6);}

.piece-forecolor{width: 100%;
height: auto;
background-color: rgb(50, 47, 43);}

.piece-container{width: 1100px;
height: 900px;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
justify-content: space-evenly;
background-color: rgb(50, 47, 43);
padding-top: 35px;
}
.piece-container h2{background-color: rgb(255, 235, 220);
border-radius: 20px;
box-shadow: 0 5px rgb(34, 34, 34);}

.meet{background-color: rgba(69, 56, 56, 0.9);
    color: rgb(255, 235, 220);
    margin: 0;
    padding: 5px 0;
    text-shadow: 0 5px rgb(34, 34, 34);
}
.logo svg{ transform: scale(0.3,0.3);}
.logo svg, .logo h1{display: inline;}
.logo h1{font-size: 28px;}
.square{background-color: aquamarine;
width: 20px;
height: 20px;
}